*{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

/* styles.css */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 60px 20px;
    text-decoration: none;
    color: black;
}

/* Style for the dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    padding: 0;
    margin-left: 10px;
    border-radius: 0 0 10px 10px;
}

.dropdown-content li {
    display: block;
}

/* Show the dropdown when hovering over the parent */
li.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li:hover {
    background-color: darkgray;
}

.dropdown-header {
    background-color: gray;
}

.dropdown-header{
    display: block;
}






.menu {
    background-color: gray;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.menu nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu nav ul li {
    display: inline-block;
    margin: 0 100px;
}

.menu nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
}


.menu nav ul li:hover {
    text-decoration: underline;
}

.menu-active {
    border: 3px solid black;
    border-radius: 15px;
}

.menu {
    display: none;
}
