*{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

.menu {
    background-color: gray;
    padding: 70px 20px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.menu nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu nav ul li {
    display: inline-block;
    margin: 0 30px;
}

.menu nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
}


.menu nav ul li:hover {
    text-decoration: underline;
}

.menu .menu-active {
    text-decoration: underline;
    color: white;
    font-style: italic;
;
}

